
body{
    font-family: "Montserrat-Light-300";
    transition: ease-in ;
    text-align: center;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Montserrat-Bold";
}

.container-fluid{
    padding:7% 15%;
}

/* Navigation */

.navbar{
    padding:0 0 4.5rem;
}

.navbar-brand{
    font-family: "Montserrat Alternates";
    font-size: 2.5rem; ;
    font-weight: 900;
}

.nav-item{
    padding:0 18px;
}

.nav-link{
    font-family: "Montserrat-Black";
    font-size: 1.2rem;
    font-weight: bold;
    display: block;
}

.navbar-nav{
    position: absolute;
    right: 1%;
}

/* Headings */

.big-heading{
    font-size: 3rem;
    color: white;
    line-height: 1.5;
}

/* Top Section */

.logo{
    height: 50px;
    width: 50px;
}

#title{
    /* background-image:linear-gradient(#ff4c68,white) ; */
    background-color: #ff4c68;
}

#title .container-fluid{
    padding: 3% 15%;
}

.download-button{
    margin: 5% 3% 5% 0;
}

.play-download-btn{
    color: black;
}

.title-image{
    padding: 15px 15px 0;
    width: 60%;
    transform: rotate(25deg);
    position: relative;
    top: 20%;
}

@media (max-width:980px){
    #title{
        text-align: center;
    }

    .title-image{
        position: static;
        transform: rotate(0);
    }
}

/* Features Section */

.ficon{
    color:#ff4c68 ;
    margin: 1rem;
}

.ficon:hover{
    color: red;
}

#features{
    position: relative;
    z-index: 2;
    background-color: white;

}

#features p{
    font-weight: 500;

    color: grey;
}

/* Testimonial Section */

#testimonials{
    background-color:#ff4c68;
}

.testimonial-image{
    display: block;
    margin: 5px auto;
    width: 10%;
    border-radius: 100%;
}

.testimonial-text{
    color: white;
    margin: 15px;
}


#press{
    background-color: #ff4c68 ;

}

#press .container-fluid{
    padding: 4% 0;
}

.press-logo{
    margin: auto 1rem;
    height: 10%;
    width: 18%;
}

/* Pricing */

.card{
    background-image:linear-gradient(#ff4c68,#fff);
}

#pricing{
    font-family: "Montserrat";
    font-weight: bold;

}

.pricing-columns{
    padding: 8% 2%;
}

.sign-up{
    color: white;
    font-weight: bold;
    background-color: #ff4c68;
}

.sign-up:hover{
    background-color:#fd2848;
}

/* Bottom container */

#cta{
    background-color: #ff4c68;

}

#cta h3{
    font-family: "Ubuntu";
    font-size: 3.5rem;
    line-height: 1.5;
    color: white;
    padding: 2%;

}

.footer-download-buttons{
    margin: 10px 10px;
}

#footer{
    padding: 3% 15%;
}

.social-icon{
    margin: 10px 5px;
    color: #ff4c68;
}
